  html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    height: -webkit-fill-available;
    font-weight: 200;
  }
  
  body {
    margin: 0;
	background-image: url("fondo3.png");
 	background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
 	background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  .hero-section {
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
  }
  .hero-section2 {
    background-color: #0082e6;
  }
  .hero-content {
    margin: 0px 100px;
    padding: 20px;
    color: #ffffff;
  }
  .hero-content2 h1 {
    padding: 30px;
    text-align: center;
  }
  .titulo {
    margin: 30px;
    text-align: center;
  }
  .hero-content h2{
    margin-bottom: 20px;
  }
  .hero-content2 h2{
    margin-bottom: 20px;
  }
  .hero-content p{
    margin-bottom: 10px;
  }
  .part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .part3 {
    margin-bottom: 2rem;
    padding: 72px;
  }
  
  .image-left, .image-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-left img,
.image-right img {
  max-width: 50%;
  min-width: 90%;
  height: auto;
}

  
  .text-right {
    flex-basis: 50%;
    padding-left: 2rem;
  }
  
  .text-left {
    flex-basis: 50%;
    padding-right: 2rem;
  }
  /*Cuerpo*/
  header {
  	background-color: #0000003b;
    text-align: center;
    background-size: cover;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
  }
  .hidden{
    display: none;
  }
  p{
    color: rgb(251, 251, 251);
  }
  .mitad1, .mitad2{
    height: 50%;
  }
  .mitadDescryp{
    height: 35%;
  }
  .buttonResult{
  margin: 10px;
  width: 25%;
  height: 37px;
  border-radius: 11px;
  background:#272729;
  color: #f6faff;
  font-size: 15px;
  cursor: pointer;
}
  h2 {
    color: white;
    font-size: 4vw;
    text-shadow: 3px 4px 0 rgb(0 0 0 / 20%);
  }
  nav{
    background: #474e3f0f;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    position: sticky;
    float: right;
    margin-right: 20px;
    z-index: 1;
  }
  nav ul li{
    display: inline-block;
    margin: 0 40px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #2c342c75;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  legend{
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: monospace;
    color: #d7d6d6;
  }
  .box0 {
    grid-area: box0;
    width: 50%; /* Ocupa la mitad del ancho de la página */
    height: 510px; /* Altura de 200px */
    float: left;
    padding: 20px;
    box-sizing: border-box; 
  }
  .box1 {
    grid-area: box1;
    width: 50%; /* Ocupa la mitad del ancho de la página */
    height: 510px; /* Altura de 200px */
    float: left;
    padding: 20px;
    align-content: space-around;
    box-sizing: border-box; 
  }
  .contenido1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alerta{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(27 26 40 / 95%);
  }

  input, textarea{
    display: flex; /*Quito el display block del input */
    color: rgb(159,248, 25);
    text-shadow: 1px 1px 2px rgb(155, 123, 167), 0 0 1em rgb(155, 124, 167), 0 0 0.2em rgb(158, 124, 167);
    font-family: VT323;
    font-size: 28px;
  }
  input:focus{
    outline: none;
  }
  textarea{
    padding-left: 16px;
  }
  
  input::placeholder, textarea::placeholder{
    font-size: 28px;
    font-family: VT323;
    color: rgb(159,248, 25);
    text-shadow: 1px 1px 2px rgb(155, 123, 167), 0 0 1em rgb(155, 124, 167), 0 0 0.2em rgb(158, 124, 167);
  }

  .textbox {
    border: 4px solid #000000;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 1);
    display: flex;
    border-radius: 40px;
    background: repeating-linear-gradient( #111, #111 50%, green 50%, #050505);
    background-size: 5px 5px;
    filter: url(#noise);
    margin: 0 auto;    
    width: 55%; /* Ocupa el ancho completo del elemento padre */
    height: 55%; /* Ocupa la altura completa del elemento padre */
  }
  .button{
    margin: 10px;
    width: 38%;
    height: 55px;
    border-radius: 15px;
    background:#272729;
    color: #f6faff;
    font-size: 15px;
    cursor: pointer;
}
  .encabezado{
    grid-area: header;
  }
  .contenedor{
    position: relative;
    /*z-index: 99;*/
    z-index: 99;
  }
  
  footer {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
}
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .menu-list {
    position: fixed;
    height: auto;
    background: #2c3e50e6;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .menu-list {
    left: 0;
  }
}
  
.contactButton {
  background: #7079f0;
  cursor: pointer;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1.0em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}
  @media screen and (max-width: 600px) {
  .box0,
  .box1 {
    width: 100%;
    display: flex;
    height: 320px;
    flex-direction: column;
    padding: 0;
  }
  header{
    height: 20%;
  }
  legend, .alerta, footer{
    font-size: 70%;
  }
  input::placeholder, input{
    font-size: 100%;
  }
  textarea::placeholder{
    font-size: 20px;
  }
  textarea{
    font-size: 20px;
  }
  .button{
    width: 45%;
    height: 70%;
    font-size: 57%;
  }
  }
  
 